
main, header, div, footer {
    margin: 0;
    color: #050050;
}

body{
    background:#F2FFC9;
}
.header {
    background: #03a9f4;
}

.navBar {
    background: #d22b1f;
}

.form {
    background: #129a22;
    width: 100%;
    height: auto; 
    border: 1px solid black;
}


.footer {
  
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #03a9f4;
        text-align: center;
        text-decoration: none;

}