*{
    background-color:#fcfbde;
    color:#020659;
}
/*Header*/
.top-banner{
    width:100%;
    height:100px;
}
.top-heading{
    margin: 0px;
    padding-right: 50px;
    height: 100px;
    line-height: 50px;
    color: #D9CB0D;
    font-family: 'Indie Flower', cursive;
    text-shadow: 2px 2px #020659;
    font-size: 50px;
    }

.logo{
    height:100px;
}
/*Nav Bar*/

.active-link{
    background-color: #D9CB0D;
}
  .nav-link{
    width: 25%;
    color: #020659;
    text-decoration: none;
  }
  
  .nav-link:not(.active-link):hover{
    background-color: #020659;
   color:#D9CB0D !important;
  }

  nav{
    margin-top: 2px;
    width: 100%;
  }

/*Floats*/

.left {
    float:left;
}

.right {
    float:right;
}

/*Width*/

.quarter {
    flex-basis: 25%;
}
.third{
    flex-basis: calc(100% / 3 - 20px);
}

body{
    margin:0px;
}

.main{
    
        width: 100px;
        margin-right: 5px
}
.aside{
    width:100px;

}
.content{
    border: 1px solid black;
    background-color: #4C9AD9;
    color: #fcfbde;
    font-family: 'Dancing Script', cursive;
}
